*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#none-log{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#none-log-child{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#outer{
    height: 100vh;
}
#FlatListFriend, #FlatListStranger{
    overflow: scroll;
    max-height: 30vh;
}
.needCursor:hover{
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
